.India {
  background: #172852;
  color: #fff;
  height: 100vh;
  overflow-y: scroll;
}
.India .india-state-card .state-card {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  color: #404b69;
}
.India .india-state-card .state-card .state-card-label {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background: #404b69;
}
.India .india-state-card .state-card .state-card-info {
  font-size: 15px;
  font-weight: bold;
}
.India .india-state-card .state-card .state-card-style {
  padding: 10px;
  font-weight: bold;
}
.India .numeric-card .numeric-card-body {
  padding: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}
.India .numeric-card .numeric-card-info-icon {
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.India .timer {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.India .timer .timer-button {
  background: #404b69;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 5px 20px;
  border-radius: 5px;
}
.India .timer-date {
  position: absolute;
  margin-top: -28px;
  right: 45px;
  color: #404b69;
  font-weight: bold;
}