nav {
  margin-bottom: 50px;
  padding-bottom: 15px;
}
nav label {
  font-size: 18px;
}
nav label:hover {
  cursor: pointer;
}
nav .navbar-icon {
  margin-right: 15px;
}
@media screen and (max-width: 900px) {
  nav .navbar-icon {
    margin-right: 0px;
  }
}
nav .nav-tabs {
  border-bottom: 5px solid #404b69;
}
nav .nav-link.active {
  color: #fff !important;
  border: 0px !important;
  background: #404b69 !important;
}
nav .nav-link {
  color: #fff !important;
  border: 0px !important;
  color: #fff !important;
}
nav .nav-link a {
  color: #fff !important;
  text-decoration: none !important;
}
nav .nav-link:hover {
  color: #fff !important;
  border: 0px !important;
  background: #404b69 !important;
}
nav .nav-link:hover a {
  color: #fff !important;
}
nav .nav-link:hover FontAwesomeIcon {
  text-decoration: none !important;
  color: #fff !important;
}
