.SwitchBar {
  display: flex;
  justify-content: center;
}
.SwitchBar .switch-active {
  background: #404b69;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}
.SwitchBar .switch {
  color: #404b69;
  cursor: pointer;
  border: 3px solid #404b69;
  padding: 5px 15px;
  font-weight: bold;
}
